.all {
  min-height: 100vh;
  background-color: #333333;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.authContainer {
  width: 40%;
  min-height: 100vh;
  background-color: #FFFFFF;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
